## @file
# This file contains the code owners of edk2-libc repo
#
# Copyright 2006 - 2016 Unified EFI, Inc.<BR>
# Copyright (c) 2025, Arm Inc. All rights reserved.<BR>
# SPDX-License-Identifier: BSD-2-Clause-Patent
##

# This file contains the list of maintainers (i.e. people who own the
# areas and can commit changes) for various parts of edk2-test.

# EDK II Test maintainers
# ============================

* @edhay @gaojiebyo

# uefi-sct owners
uefi-sct/** @edhay @sunnywang-arm @anncheng-arm @gaojiebyo

# TCG2 owner
uefi-sct/SctPkg/TestCase/UEFI/EFI/Protocol/TCG2/** @stuyod01 @edhay
